* {
  margin: 0;
  padding: 0;
font-family: 'Montserrat', sans-serif;
}
.business {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+22,7db9e8+99&1+12,0+98 */
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 12%, rgba(30,87,153,0.88) 22%, rgba(124,184,231,0) 98%, rgba(125,185,232,0) 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,1) 12%,rgba(30,87,153,0.88) 22%,rgba(124,184,231,0) 98%,rgba(125,185,232,0) 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,1) 12%,rgba(30,87,153,0.88) 22%,rgba(124,184,231,0) 98%,rgba(125,185,232,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #E5E4E5;
  display: flex;
  flex-direction: column;
}
#form-inline {
  height: 29vh;
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
.sub-title {
  padding-top: 1%;
  padding-bottom: 6%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.p-text {
  text-align: center;
  font-size: 90%;
  margin-left: 280px;
  margin-right: 280px;
}
input#title {
  font-size: 160%;
  border-radius: 5px;
  height: 40px;
  width: 450px;
  text-align: center;
}
.button {
  border-radius: 5px;
  height: 45px;
  width: 160px;
  background-color: #1cb495;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}
.button:hover {
  background-color: #11FAA5;
}
h1 {
  font-size: 130%;
  text-align: center;
}
h2.title {
  font-size: 290%;
  text-align: center;
}
#header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  grid-auto-rows: auto;
  margin: 0px 50px;
}
#theDiv {
  box-shadow: 10px 15px 20px rgba(0,0,0,0.29), 0 6px 6px rgba(0,0,0,0.13);
  display: flex;
  flex-direction: column;
  border: 2px solid #1cb495;
  border-radius: 5px;
  background-color: #F8FBF9;
  color: black;
}
div#header2 {
    margin: 20px 10% 20px 10%;
    border-radius: 5px;
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer {
    height:24px;
    width: 100%; 
    position: static;
    bottom: 50pt;
    left: 0pt;

}
footer.footer {
    margin: 40px 0 40px 0;
}
img.picture {
    width: 100%;
}
#separator {
  width: 100%;
}
#footer {
  height: 55px;
  width: 100%;
}
.picture {
  width: 200px;
  height: 180px;
}
h2.address {
  font-size: 70%;
  text-align: center;
}
h2.number {
  font-size: 70%;
  text-align: center;
}
h2#address {
  font-size: 70%;
  text-align: center;
}
h2#number {
  font-size: 70%;
  text-align: center;
}
.phone, .web{
  text-decoration: none;
  color: black;
}
h2#hours{
  font-size: 70%;
  text-align: center;
}
h2#website {
  font-size: 70%;
  text-align: center;
}
h2#category {
  font-size: 70%;
  text-align: center;
}
h2#summary {
  font-size: 70%;
  text-align: center;
}
footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.footer-text {
  text-transform: uppercase;
  font-size: 9px;
  color: #e0e2db;
  margin-bottom: 10px;
  margin-left: 10px;
}
.footer-icons {
  font-size: 20px;
}
.footer-icons .fab {
  /* margin-right: 10px; */
  color: #e0e2db;
  transition: transform 1s;
}
.footer-icons .fab:hover {
  transform: translateY(-15px);
}
.fab {
  margin: 25px;
}
.popup-overlay{
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  width:60%;
  height:50%;
  margin-left: 20%;
}
.popup-overlay.active{
  visibility:visible;
  text-align:center;
}
.popup-content {
 visibility:hidden;
}
.popup-content.active {
  visibility:visible;
}
a.modal-info {
  text-decoration-line: none;
  color: black;
}
a.modal-info2 {
    text-decoration-line: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#form-inline {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  padding-top: 40%;
  display: flex;
  justify-content: center;
}
.sub-title {
  display: flex;
  justify-content: center;
  font-size: 100%;
}
.p-text {
  text-align: center;
  font-size: 90%;
  margin-left: 20px;
  margin-right: 20px;
}
input#title {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 40px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-size: 150%;
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 150%;
}
h1 {
  font-size: 200%;
}
h2.title {
  font-size: 210%;
  text-align: center;
}
#header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  grid-auto-rows: auto;
  margin: 0px 15px;
}
#theDiv {
  border: 1px solid #1cb495;
  border-radius: 5px;
  background-color: #F8FBF9;
  color: black;
}
#separator {
  height: 25px;
  width: 100%;
}
#footer {
  height: 25px;
  width: 100%;
}
.popup-overlay{
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:0px solid #666666;
  width:100%;
  height:50%;
  margin-left: 0%;
}
a.modal-info2 {
    text-decoration-line: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 2px;
}
a.modal-info {
  text-decoration-line: none;
  color: black;
}
footer {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* #form-inline {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: auto;
    margin: 0px 15px;
  } */
  
}


